@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Modifiers.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Typography.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/LandingPage.css" asp-append-version="true" />

<section class="img-bg text-center">
    <h1 class="display-4 text-primary">Welcome</h1>

    <div class="main">
        <div class="form-group has-search">
            <span class="bi bi-search form-control-feedback">
            </span>
            <input type="text" class="form-control search-input" placeholder="Search">
        </div>
    </div>


    <img class="moon" src="../images/astro.png" />
</section>

<div class="main-body">
    <section class="sec2">
        <div class="text">
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

    </section>
    <section class="sec3">
        <div class="title textSection2">
            <span>The burrowing owl</span> is a small, long-legged owl found
            throughout open landscapes of North and South America.
        </div>
    </section>



    <section class="sec4" style="">
        <span class="line line-1"></span>

        <h1>So smooth though</h1>
    </section>
    <section class="sec5">
        <h1>Nice, right?</h1>
        <div class="shape"></div>
    </section>

    <div class="events">
        <div class="event-header">
            <h1>events</h1>
        </div>
        <div class="ps-5 pe-5">
            <div class="event-content row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="event-card">
                        <div class="evt-btn">
                            <div class="d-flex justify-content-between">
                                <button class="btn-main btn-dark-fill">Buy now</button>
                            </div>
                        </div>
                        <img src="~/images/background.jpg"
                             height="150px"
                             width="100%" />
                        <div class="event-details">
                            <div class="row">
                                <div class="col-3 col-sm-4 evt-date">
                                    <div class="date">14th</div>
                                    <div class="fontnormal">october</div>
                                    <div class="fontsmall">12:00</div>
                                </div>
                                <div class="col-9 col-sm-8 ps-4">
                                    <div>
                                        <span class="fs--normal">event</span>
                                        <span class="fs--small">lorem ipsum dolor </span>
                                    </div>
                                    <div>
                                        <span class="fs--normal">artist</span>
                                        <span class="fs--small">lorem ipsum dolor</span>
                                    </div>
                                    <div>
                                        <span class="fs--normal">venue</span>
                                        <span class="fs--small">lorem ipsum dolor</span>
                                    </div>

                                    <!-- lorem ipsum dolor sit amet consectetur adipisicing elit. vel similique rem cum delectus non ducimus laudantium neque est ea impedit dicta, minus odio ratione corrupti nostrum? molestiae iste ex iusto. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="event-card">
                        <div class="evt-btn">
                            <div class="d-flex justify-content-between">
                                <button class="btn-main btn-dark-fill">Buy now</button>
                            </div>
                        </div>
                        <img src="~/images/background.jpg"
                             height="150px"
                             width="100%" />
                        <div class="event-details">
                            <div class="row">
                                <div class="col-3 col-sm-4 evt-date">
                                    <div class="date">14th</div>
                                    <div class="fs--normal">october</div>
                                    <div class="fs--small">12:00</div>
                                </div>
                                <div class="col-9 col-sm-8 ps-4">
                                    <div>
                                        <span class="fs--normal">event</span>
                                        <span class="fs--small">lorem ipsum dolor </span>
                                    </div>
                                    <div>
                                        <span class="fs--normal">artist</span>
                                        <span class="fs--small">lorem ipsum dolor</span>
                                    </div>
                                    <div>
                                        <span class="fs--normal">venue</span>
                                        <span class="fs--small">lorem ipsum dolor</span>
                                    </div>

                                    <!-- lorem ipsum dolor sit amet consectetur adipisicing elit. vel similique rem cum delectus non ducimus laudantium neque est ea impedit dicta, minus odio ratione corrupti nostrum? molestiae iste ex iusto. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="event-card">
                        <div class="evt-btn">
                            <div class="d-flex justify-content-between">
                                <button class="btn-main btn-dark-fill">Buy now</button>
                            </div>
                        </div>
                        <img src="~/images/background.jpg"
                             height="150px"
                             width="100%" />
                        <div class="event-details">
                            <div class="row">
                                <div class="col-3 col-sm-4 evt-date">
                                    <div class="date">14th</div>
                                    <div class="fs--normal">october</div>
                                    <div class="fs--small">12:00</div>
                                </div>
                                <div class="col-9 col-sm-8 ps-4">
                                    <div>
                                        <span class="fs--normal">event</span>
                                        <span class="fs--small">lorem ipsum dolor </span>
                                    </div>
                                    <div>
                                        <span class="fs--normal">artist</span>
                                        <span class="fs--small">lorem ipsum dolor</span>
                                    </div>
                                    <div>
                                        <span class="fs--normal">venue</span>
                                        <span class="fs--small">lorem ipsum dolor</span>
                                    </div>

                                    <!-- lorem ipsum dolor sit amet consectetur adipisicing elit. vel similique rem cum delectus non ducimus laudantium neque est ea impedit dicta, minus odio ratione corrupti nostrum? molestiae iste ex iusto. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="event-card">
                        <div class="evt-btn">
                            <div class="d-flex justify-content-between">
                                <button class="btn-main btn-dark-fill">Buy now</button>
                            </div>
                        </div>
                        <img src="~/images/background.jpg"
                             height="150px"
                             width="100%" />
                        <div class="event-details">
                            <div class="row">
                                <div class="col-3 col-sm-4 evt-date">
                                    <div class="date">14th</div>
                                    <div class="fs--normal">october</div>
                                    <div class="fs--small">12:00</div>
                                </div>
                                <div class="col-9 col-sm-8 ps-4">
                                    <div>
                                        <span class="fs--normal">event</span>
                                        <span class="fs--small">lorem ipsum dolor </span>
                                    </div>
                                    <div>
                                        <span class="fs--normal">artist</span>
                                        <span class="fs--small">lorem ipsum dolor</span>
                                    </div>
                                    <div>
                                        <span class="fs--normal">venue</span>
                                        <span class="fs--small">lorem ipsum dolor</span>
                                    </div>

                                    <!-- lorem ipsum dolor sit amet consectetur adipisicing elit. vel similique rem cum delectus non ducimus laudantium neque est ea impedit dicta, minus odio ratione corrupti nostrum? molestiae iste ex iusto. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>


    function scroll() {
        gsap.registerPlugin(ScrollTrigger);
        gsap.to(".header-wrapper", {
            scrollTrigger: {
                scrub: 1,
            },
            backgroundColor: "black",
        });

        gsap.to(".moon", {
            scrollTrigger: {
                trigger: ".sec2",

                scrub: 1,
            },
            x: -100,
        });
        //gsap.to(".event-header h1", {
        //    x: 0,

        //    scrollTrigger: {
        //        scrub: 1,
        //    },
        //    x: 100,
        //});
        gsap.to(".event-header h1", {
            x: 0,

            scrollTrigger: {
                scrub: 1,
            },
            x: 30,
        });

        gsap.from(".line-1", {
            scrollTrigger: {
                trigger: ".line-1",
                scrub: true,
                start: "top bottom",
                end: "top top",
            },
            scaleX: 0,
            transformOrigin: "left center",
            ease: "none",
        });

        gsap.to(".text p", {
            backgroundPositionX: "0%",
            stagger: 1,
            scrollTrigger: {
                trigger: ".sec2",
                markers: false,
                scrub: 1,
                start: "top center",
                end: "bottom center",
            },
            y: -60,
        });
        gsap.to(".title", {
            scrollTrigger: {
                trigger: ".sec3",
                toggleActions: "restart pause reverse pause",
            },
            duration: 2,
            backgroundColor: "red",
            ease: "none",
        });


    }

    window.onload = scroll;
</script>

<a href="d:\college\application development\service\eventverse\eventverse\views\home\index.cshtml">d:\college\application development\service\eventverse\eventverse\views\home\index.cshtml</a>