@*<style>
    a {
        all: unset !important;
        cursor: pointer !important;
    }

    .content {
        cursor: pointer;
    }

        .content:hover .btn-top {
            display: block;
        }

    .img-container img {
        height: 200px;
        width: 100%;
    }

    .btn-top {
        transform: translate(10px, -44px);
        display: none;
    }

        .btn-top button {
            width: 115px;
            border: none;
        }

    button:focus {
        outline: none !important;
    }

    .text-title {
        font-size: 16px;
    }

    .price-tag {
        font-size: 18px;
        line-height: 12px;
        color: #ee403d;
    }

    select.size {
        width: 100px;
    }

    select.qty {
        width: 50px;
    }

    .elements {
        font-size: 24px;
    }

    .price {
        font-size: 18px;
    }

    .hover-btn button {
        height: 70px;
        width: 200px;
        border: none;
        background: radial-gradient(circle, rgb(112, 16, 25) 21%, rgb(0, 244, 106) 68%);
        border-radius: 10px;
        color: white;
    }

        .hover-btn button:hover.hover-btn::after {
            content: "";
            height: 200px;
            width: 400px;
            background-color: red;
        }
</style>
<div class="container">
    <div class="row">
        <div class="col-9 row justify-content-center">
            <div class="col-8"><img src="../wwwroot/images/background1.jpg" alt="" style="height: 650px; width:100%"></div>
            <div class="col-4">
                <div class="elements">
                    ELEMENTS T-SHIRT
                </div>
                <div class="price">Rs. 1500.00</div>
                <form action="">
                    <label for="">Size:&nbsp;&nbsp; </label>
                    <select name="" id="" class="size">

                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="X">X</option>
                        <option value="XL">XL</option>
                    </select>

                    <label for="">QTY:&nbsp;&nbsp; </label>
                    <select name="" id="" class="qty">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </form>

                <div>BUY NOW</div>
                <div>Add to Cart</div>

                <div>Share</div>

            </div>
        </div>
    </div>
</div>*@