@import url('site.css');

.bg--primary {
    background-color: #020202;
}

.text-primary{
    color:white !important;
}

.text-secondary {
    color: var(--colorPrimarys1) !important;
}

.nav-text-primary {
    color: white !important;
    padding-bottom:3rem;
}

 .nav-text-primary:hover {
     font-size:1.8rem;
    }
